<h1>Estos son los productos</h1>
<form action="/posteo" method="post">
    <input type="text" name="nombrePosteo" placeholder="ingrese Nombre Posteo">
    <input type="text" name="descripcionPosteo" placeholder="ingrese descripcion">
    <button type="submit">subir</button>
</form>