<h1>Estos son los posteos</h1>
<form action="/productos" method="post">
    <input type="text" name="nombreProducto" placeholder="Ingrese nombre producto">
    <input type="number" name="precio" placeholder="ingrese Precio">
    <input type="number" name="stock" placeholder="Ingrese stock">
    <input type="text" name="descripcion" placeholder="descripcion del producto">
   <button type="submit">ingrese</button>
</form>
